In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [90]:
#Data Load
urb_core = pd.read_csv('./SeoulData/urban-core_v2.csv')
urb_mix = pd.read_csv('./SeoulData/urban-mix_v2.csv')

'''
speeddata 열이름 지정 
형식 : 요MMDDHHMM
# 요 : 요일 1 2 3 4 5 6 7 (월 화 수 목 금 토 일)
# MM : 월 04 (4월)
# DD : 일 01~30 (1일~30일)
# HHMM : 시간 0000~2355 (00:00~23:55)

예시 : 일요일 4월 1일 13시 25분 = 704011325
'''

'\nspeeddata 열이름 지정 \n형식 : 요MMDDHHMM\n# 요 : 요일 1 2 3 4 5 6 7 (월 화 수 목 금 토 일)\n# MM : 월 04 (4월)\n# DD : 일 01~30 (1일~30일)\n# HHMM : 시간 0000~2355 (00:00~23:55)\n\n예시 : 일요일 4월 1일 13시 25분 = 704011325\n'

In [91]:
#속도 data 추출 (2018/4/1 ~ 2018/4/30) 5분간격
speed_data_core = urb_core.drop(columns=['Link_ID_1'	,'Link_ID_2',	'Center_Point_1',	'Center_Point_2',	'Limit'	,'Length',	'Direction'])
speed_data_mix = urb_mix.drop(columns=['Link_ID_1'	,'Start_1',	'Start_2',	'End_1',	'End_2'	,'Limit',	'-'])

print(speed_data_core.shape)
print(speed_data_mix.shape)
speed_data_mix.head()

(304, 8640)
(1007, 8640)

,704010000,704010005,704010010,704010015,704010020,704010025,704010030,704010035,704010040,704010045,...,104302310,104302315,104302320,104302325,104302330,104302335,104302340,104302345,104302350,104302355
0,48.19,35.88,47.05,43.81,46.21,46.56,45.71,45.83,45.83,47.18,...,46.51,43.36,45.36,45.97,45.20,46.29,46.63,45.67,46.23,46.21
1,28.55,39.00,52.00,52.00,26.00,38.45,39.73,46.00,45.00,39.73,...,28.00,32.00,31.39,26.63,28.58,21.00,25.04,26.00,33.00,39.00
2,36.06,35.78,36.54,36.47,33.55,30.65,30.59,34.46,32.15,35.59,...,35.46,31.90,34.91,34.40,36.15,37.89,32.77,29.97,31.27,30.50
3,43.00,26.32,24.67,24.28,34.04,30.03,32.00,25.52,28.08,27.80,...,32.09,27.22,27.24,26.72,25.46,32.64,31.33,30.88,28.86,29.78
4,20.97,28.31,37.88,34.44,36.10,38.32,38.43,38.86,40.41,40.87,...,28.45,28.57,28.68,28.62,30.26,26.75,26.56,26.86,28.66,28.97

In [92]:
adj_core = pd.read_csv('./SeoulData/Adj(urban-core).csv', header=None)
adj_mix = pd.read_csv('./SeoulData/Adj(urban-mix).csv', header=None)

print(adj_core.shape)
print(adj_mix.shape)

(304, 304)
(1007, 1007)

In [93]:
import datetime

# Your original time format
time_str = "704010000"

def change_col_name(time_str) :
    # Extracting components
    day_of_week = int(time_str[0])
    month = int(time_str[1:3])
    day = int(time_str[3:5])
    hour = int(time_str[5:7])
    minute = int(time_str[7:9])

    # Find the corresponding Monday date in 2018 (for this example, April 2, 2018)
    monday_date = datetime.date(2018, 4, 2)

    # Calculate the date by adding the difference (considering day_of_week starts from 1 for Monday)
    actual_date = monday_date + datetime.timedelta(days=day_of_week - 1)

    # Replace month and day with the extracted values
    actual_date = actual_date.replace(month=month, day=day)

    # Format the final datetime string
    formatted_date = actual_date.strftime('%Y/%m/%d') + f" {hour:02d}:{minute:02d}:00"

    return formatted_date

change_col_name("704010000")

'2018/04/01 00:00:00'

In [94]:
col_names = []
for col_name in speed_data_core.columns:
    col = change_col_name(col_name)
    col_names.append(col)

speed_data_core.columns = col_names
speed_data_core.head()

,2018/04/01 00:00:00,2018/04/01 00:05:00,2018/04/01 00:10:00,2018/04/01 00:15:00,2018/04/01 00:20:00,2018/04/01 00:25:00,2018/04/01 00:30:00,2018/04/01 00:35:00,2018/04/01 00:40:00,2018/04/01 00:45:00,...,2018/04/30 23:10:00,2018/04/30 23:15:00,2018/04/30 23:20:00,2018/04/30 23:25:00,2018/04/30 23:30:00,2018/04/30 23:35:00,2018/04/30 23:40:00,2018/04/30 23:45:00,2018/04/30 23:50:00,2018/04/30 23:55:00
0,49.39,49.74,48.69,49.04,50.71,49.46,49.06,50.26,50.86,50.31,...,49.58,48.15,48.96,49.07,49.03,48.96,49.44,48.72,49.80,49.58
1,53.34,52.38,53.20,53.53,52.62,54.08,53.13,52.49,53.36,52.85,...,51.13,51.34,51.28,51.90,51.91,50.70,50.95,51.55,52.99,52.20
2,39.47,39.22,38.84,34.21,44.50,38.28,37.69,50.92,37.50,48.58,...,35.42,36.83,36.93,36.18,35.79,34.78,35.94,36.47,34.78,35.21
3,29.02,34.66,34.49,42.51,36.78,40.59,36.67,40.97,39.80,39.69,...,29.60,32.36,32.66,33.09,33.77,30.38,48.38,36.53,33.29,33.24
4,48.33,46.12,50.23,45.12,51.00,46.51,49.90,55.03,51.77,48.57,...,46.60,50.99,51.81,48.02,48.25,47.16,48.07,46.30,47.90,52.10

In [95]:
speed_data_core = speed_data_core.T
speed_data_core.index = pd.to_datetime(speed_data_core.index, format='%Y/%m/%d %H:%M:%S')
speed_data_core.to_csv('./SeoulData/urban_core_gcn.csv')
speed_data_core.to_hdf('./seoul-core.h5', key='df')

In [96]:
speed_data_core.head()

,0,1,2,3,4,5,6,7,8,9,...,294,295,296,297,298,299,300,301,302,303
2018-04-01 00:00:00,49.39,53.34,39.47,29.02,48.33,79.50,26.99,31.70,24.62,32.14,...,26.80,25.07,41.75,58.12,31.64,46.22,57.24,59.56,61.14,60.86
2018-04-01 00:05:00,49.74,52.38,39.22,34.66,46.12,74.67,26.99,31.06,22.99,29.55,...,21.23,23.33,42.06,54.53,35.11,44.86,56.30,57.49,60.25,62.20
2018-04-01 00:10:00,48.69,53.20,38.84,34.49,50.23,67.31,26.99,31.06,25.78,21.71,...,27.14,25.60,43.72,52.46,32.18,47.40,57.34,59.51,59.74,63.40
2018-04-01 00:15:00,49.04,53.53,34.21,42.51,45.12,69.33,33.91,38.00,23.47,29.62,...,24.90,26.92,47.03,54.95,32.54,44.94,54.87,59.44,63.45,60.90
2018-04-01 00:20:00,50.71,52.62,44.50,36.78,51.00,54.06,30.74,29.00,31.81,28.61,...,28.82,24.73,40.56,55.65,35.83,44.18,56.96,60.52,61.89,63.02

In [97]:
test_df_core = pd.read_csv('./SeoulData/urban_core_gcn.csv')
h5_df_core = pd.read_hdf('./seoul-core.h5')

In [98]:
col_names = []
for col_name in speed_data_mix.columns:
    col = change_col_name(col_name)
    col_names.append(col)

speed_data_mix.columns = col_names
speed_data_mix.head()

,2018/04/01 00:00:00,2018/04/01 00:05:00,2018/04/01 00:10:00,2018/04/01 00:15:00,2018/04/01 00:20:00,2018/04/01 00:25:00,2018/04/01 00:30:00,2018/04/01 00:35:00,2018/04/01 00:40:00,2018/04/01 00:45:00,...,2018/04/30 23:10:00,2018/04/30 23:15:00,2018/04/30 23:20:00,2018/04/30 23:25:00,2018/04/30 23:30:00,2018/04/30 23:35:00,2018/04/30 23:40:00,2018/04/30 23:45:00,2018/04/30 23:50:00,2018/04/30 23:55:00
0,48.19,35.88,47.05,43.81,46.21,46.56,45.71,45.83,45.83,47.18,...,46.51,43.36,45.36,45.97,45.20,46.29,46.63,45.67,46.23,46.21
1,28.55,39.00,52.00,52.00,26.00,38.45,39.73,46.00,45.00,39.73,...,28.00,32.00,31.39,26.63,28.58,21.00,25.04,26.00,33.00,39.00
2,36.06,35.78,36.54,36.47,33.55,30.65,30.59,34.46,32.15,35.59,...,35.46,31.90,34.91,34.40,36.15,37.89,32.77,29.97,31.27,30.50
3,43.00,26.32,24.67,24.28,34.04,30.03,32.00,25.52,28.08,27.80,...,32.09,27.22,27.24,26.72,25.46,32.64,31.33,30.88,28.86,29.78
4,20.97,28.31,37.88,34.44,36.10,38.32,38.43,38.86,40.41,40.87,...,28.45,28.57,28.68,28.62,30.26,26.75,26.56,26.86,28.66,28.97

In [99]:
speed_data_mix = speed_data_mix.T
speed_data_mix.index = pd.to_datetime(speed_data_mix.index, format='%Y/%m/%d %H:%M:%S')

speed_data_mix.to_csv('./SeoulData/urban_mix_gcn.csv')
speed_data_mix.to_hdf('./seoul-mix.h5', key='df')

In [100]:
test_df_mix = pd.read_csv('./SeoulData/urban_core_gcn.csv')
h5_df_mix = pd.read_hdf('./seoul-core.h5')

In [101]:
h5_df_mix

,0,1,2,3,4,5,6,7,8,9,...,294,295,296,297,298,299,300,301,302,303
2018-04-01 00:00:00,49.39,53.34,39.47,29.02,48.33,79.50,26.99,31.70,24.62,32.14,...,26.80,25.07,41.75,58.12,31.64,46.22,57.24,59.56,61.14,60.86
2018-04-01 00:05:00,49.74,52.38,39.22,34.66,46.12,74.67,26.99,31.06,22.99,29.55,...,21.23,23.33,42.06,54.53,35.11,44.86,56.30,57.49,60.25,62.20
2018-04-01 00:10:00,48.69,53.20,38.84,34.49,50.23,67.31,26.99,31.06,25.78,21.71,...,27.14,25.60,43.72,52.46,32.18,47.40,57.34,59.51,59.74,63.40
2018-04-01 00:15:00,49.04,53.53,34.21,42.51,45.12,69.33,33.91,38.00,23.47,29.62,...,24.90,26.92,47.03,54.95,32.54,44.94,54.87,59.44,63.45,60.90
2018-04-01 00:20:00,50.71,52.62,44.50,36.78,51.00,54.06,30.74,29.00,31.81,28.61,...,28.82,24.73,40.56,55.65,35.83,44.18,56.96,60.52,61.89,63.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-04-30 23:35:00,48.96,50.70,34.78,30.38,47.16,48.57,18.68,20.03,25.44,25.80,...,24.35,20.27,43.44,55.12,23.10,41.70,57.12,47.92,59.50,58.09
2018-04-30 23:40:00,49.44,50.95,35.94,48.38,48.07,49.90,18.10,20.91,26.46,29.08,...,30.51,21.76,44.34,56.08,30.24,40.72,55.97,49.52,61.51,58.19
2018-04-30 23:45:00,48.72,51.55,36.47,36.53,46.30,50.41,16.00,26.91,27.42,29.70,...,23.44,25.30,50.41,60.92,27.86,37.27,58.98,52.32,59.59,56.26
2018-04-30 23:50:00,49.80,52.99,34.78,33.29,47.90,52.74,21.87,28.63,29.11,27.65,...,23.34,27.91,44.67,55.34,27.22,42.97,57.34,50.18,60.62,60.79
2018-04-30 23:55:00,49.58,52.20,35.21,33.24,52.10,48.89,22.12,18.88,24.87,32.18,...,25.63,25.65,42.36,55.99,27.41,41.78,60.92,57.08,61.42,58.40

In [118]:

sensor_ids = list(range(adj_core.shape[0]))
sensor_id_to_ind = {id: id for id in sensor_ids}
adj = np.float32(adj_core)
adj_core_pkl = [sensor_ids,sensor_id_to_ind, adj]

sensor_ids = list(range(adj_mix.shape[0]))
sensor_id_to_ind = {id: id for id in sensor_ids}
adj = np.float32(adj_mix)
adj_mix_pkl = [sensor_ids,sensor_id_to_ind, adj]

In [119]:
import pickle
with open(file='./sensor_graph/adj_core.pkl', mode='wb') as f:
    pickle.dump(adj_core_pkl, f)

In [120]:
with open(file='./sensor_graph/adj_mix.pkl', mode='wb') as f:
    pickle.dump(adj_mix_pkl, f)

# Test

In [117]:
np.float32(adj_core)

array([[1., 1., 0., ..., 0., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]], dtype=float32)